body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background: white;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #555;
}