/* Changes the position of the background image */

/*
Available Values:
left top
left center
left bottom
center top
center
center bottom
right top
right center
right bottom
*/

/* Controls the position of the background image */

/* Controls the position of the background image */

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 80px;
    font-size: xx-large;
}